{% extends 'base.html.twig' %}

{% block body %}

    <h1>お問い合わせ（完了）</h1>
    <div id="contact">
      
      <p>お問い合わせありがとうございました。<br />折り返しご連絡いたしますので、ご連絡をお待ちください。</p>
      <p>
        <a href="/">トップページに戻る</a>
      </p>
      
    </div>
    
{% endblock %}
