{% extends 'BaseCmsCommonBundle:Admin:layout.html.twig' %}

{% block body %}

    <h1>管理者（完了）</h1>
    <div id="contact">
      
      <p>登録が完了しました。</p>
      <p>
        <a href="/">トップページに戻る</a>
      </p>
      
    </div>
    
{% endblock %}
